:root {
    --vaporwave-1: #FF71CE;
    --vaporwave-2: #01CDFE;
    --vaporwave-3: #05FFA1;
    --vaporwave-4: #B967FF;
    --vaporwave-5: #FFFB96;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgba(232, 232, 237, 0.4);
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
}
.header {
    color: #333;
    padding: 0px 0; /* Increased padding for a more prominent header */
    text-align: center;
    background-color: rgba(232, 232, 237, 0.4); /* Subtle background for a clean look */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Added shadow for depth */
}
h1 {
    margin: 0;
    font-weight: 600;
}
.navigation {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    background-color: white;
    border-bottom: 1px solid #d1d1d1;
}
.navigation a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
}
.main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.about, .services, #contact {
    background-color: #FFF;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.service-offering {
    background-color: #FFF;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: none;
}
h2 {
    position: relative;
}
h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 3px;
    background: linear-gradient(to right, var(--vaporwave-3), var(--vaporwave-4));
}
.gradient-text {
    background-image: linear-gradient(to right, var(--vaporwave-3), var(--vaporwave-4));
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold; /* Increase font weight */
}

.footer {
    padding: 10px;
    border-top: 1px solid #d1d1d1;
}

.card {
    background-color: #161616;
    margin: 15px;
    width: 22em;
    height: 29em;
    border-radius: 18px;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}